.idea/
build/
bin
.ai
tests/e2e/stands.local.yaml
tests/e2e/.work/
go.work
go.work.sum
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
